.square{
	width:34%;
	height:700px; 
<<<<<<< HEAD
	background-color:red;
=======
	background-color:yellow;
>>>>>>> flagnew
	float:left;
}
.square1{
	width:33%;
	height:700px;
<<<<<<< HEAD
	background-color: white;
=======
	background-color: red;
>>>>>>> flagnew
	float:left;
}
.square2{
	width: 33%;
	height:700px;
<<<<<<< HEAD
	background-color: blue;
=======
	background-color: orange;
>>>>>>> flagnew
	float:left;
}
